body {
    background-image: url("../../imagenes/logo1.jpg");
    background-size: cover;
    header {
        background-color: gray;
        padding: 1px;
        margin: 10px;
        border: 1px solid white;
        h1 {
            font-size: 44px;
            color: white;
            text-align: center;
        }
    }
}